In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
 df = pd.read_csv("data_carib_1.csv")
 df.head(-5)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2019-01-01T21:47:43.580Z,18.4648,-68.4693,116.0,2.94,md,5.0,182.0,0.1007,0.50,...,2019-03-08T17:50:13.040Z,"14 km SSW of Punta Cana, Dominican Republic",earthquake,10.09,3.55,0.48,4.0,reviewed,pr,pr
1,2019-01-01T19:55:32.190Z,18.4561,-68.8325,118.0,3.38,md,5.0,204.0,0.4548,0.17,...,2019-03-08T17:50:13.040Z,"15 km ENE of La Romana, Dominican Republic",earthquake,8.51,1.50,0.18,3.0,reviewed,pr,pr
2,2019-01-01T18:42:28.690Z,18.3798,-68.0563,87.0,2.57,md,7.0,177.0,0.3517,0.42,...,2019-03-08T17:50:13.040Z,"43 km ESE of Punta Cana, Dominican Republic",earthquake,6.65,2.78,0.36,6.0,reviewed,pr,pr
3,2019-01-01T11:22:00.110Z,18.2185,-67.0878,77.0,2.50,md,11.0,169.0,0.0428,0.08,...,2019-01-01T16:06:05.963Z,"5 km ENE of Mayagüez, Puerto Rico",earthquake,0.61,0.64,0.47,9.0,reviewed,pr,pr
4,2019-01-01T07:02:44.730Z,18.7066,-67.5186,10.0,2.87,md,18.0,190.0,0.3246,0.38,...,2019-03-08T17:50:13.040Z,"49 km NW of Aguadilla, Puerto Rico",earthquake,1.08,1.06,0.42,15.0,reviewed,pr,pr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19178,2009-01-02T05:51:11.240Z,18.6880,-64.9740,8.0,2.80,md,5.0,251.5,NaN,NaN,...,2014-11-07T01:38:07.774Z,"38 km N of Charlotte Amalie, U.S. Virgin Islands",earthquake,NaN,NaN,NaN,NaN,reviewed,rspr,rspr
19179,2009-01-02T03:14:02.990Z,18.0240,-68.0460,87.1,3.10,md,8.0,210.2,NaN,NaN,...,2014-11-07T01:38:07.726Z,"71 km ESE of Boca de Yuma, Dominican Republic",earthquake,NaN,NaN,NaN,NaN,reviewed,rspr,rspr
19180,2009-01-01T18:32:26.400Z,19.1540,-64.1900,39.6,3.10,md,4.0,330.4,NaN,NaN,...,2014-11-07T01:38:07.548Z,"111 km NE of Cruz Bay, U.S. Virgin Islands",earthquake,NaN,NaN,NaN,NaN,reviewed,rspr,rspr
19181,2009-01-01T12:53:01.690Z,18.5770,-67.3390,19.0,2.50,md,5.0,313.4,NaN,NaN,...,2014-11-07T01:38:07.409Z,"25 km NW of Aguadilla, Puerto Rico",earthquake,NaN,NaN,NaN,NaN,reviewed,rspr,rspr
19182,2009-01-01T11:24:04.340Z,18.5880,-66.7710,6.0,2.60,md,7.0,223.2,NaN,NaN,...,2014-11-07T01:38:07.325Z,"11 km N of Carrizales, Puerto Rico",earthquake,NaN,NaN,NaN,NaN,reviewed,rspr,rspr

In [3]:
df.dtypes

time                object
latitude           float64
longitude          float64
depth              float64
mag                float64
magType             object
nst                float64
gap                float64
dmin               float64
rms                float64
net                 object
id                  object
updated             object
place               object
type                object
horizontalError    float64
depthError         float64
magError           float64
magNst             float64
status              object
locationSource      object
magSource           object
dtype: object

In [4]:
# converting time var to datetime object 
df['time'] = pd.to_datetime(df['time'])
df['updated'] = pd.to_datetime(df['updated'])
df.dtypes
data = df

In [5]:
string_list = ['magType', 'net', 'id',
'place', 'type', 'status', 'locationSource', 'magSource']

for var in string_list:
    data[var] = data[var].astype('string')

In [6]:
data.dtypes

time               datetime64[ns, UTC]
latitude                       float64
longitude                      float64
depth                          float64
mag                            float64
magType                         string
nst                            float64
gap                            float64
dmin                           float64
rms                            float64
net                             string
id                              string
updated            datetime64[ns, UTC]
place                           string
type                            string
horizontalError                float64
depthError                     float64
magError                       float64
magNst                         float64
status                          string
locationSource                  string
magSource                       string
dtype: object

In [7]:
# creating new variables

# parsing 'place' variable into parts
split_of = data['place'].str.split("of", n=1, expand=True)
split_km = data['place'].str.split('km', n=1, expand=True)

data['city,region'] = split_of[1]
#data['dist_se'] = split_km[0]
#data['dist_se'] = pd.to_numeric(data['dist_se'],errors='coerce')
# where place is nan or null 
# data[data['place'].isnull()] # all in there

In [8]:
# checking if string are all numeric characters 
# data['dist_se'].str.isnumeric()

#rand_list = ['Virgin','Leeward', 'region', 'Mona Passage','near']
#for x in rand_list:
#if data.dist_se.str.contains('[A-Za-z]', na=False) == True:
#    data['dist_se'] = np.nan
#data.dist_se.str.contains(('region'|'Islands')|('near','Passage'))
#data['dist_se'].replace('(?i)[a-z]', '', regex=True).ne(data['dist_se']).any()

# extracting numerics from 'place'
data['dist_se'] = data.place.str.extract('(\d+)')
#if data['dis_se'].isna():

In [9]:
data['dist_se'].unique()

array(['14', '15', '43', '5', '49', '133', '56', '130', '53', '0', '9',
       '70', '19', '30', '47', '108', '44', '107', '33', '72', '29', '69',
       '119', '22', '17', '25', '71', '76', '4', '21', '60', '7', '91',
       <NA>, '57', '63', '111', '77', '105', '101', '58', '98', '24',
       '32', '11', '79', '59', '78', '50', '92', '67', '83', '136', '114',
       '39', '87', '28', '151', '121', '34', '52', '62', '37', '61', '46',
       '31', '35', '88', '36', '117', '90', '86', '8', '97', '73', '10',
       '126', '48', '134', '45', '95', '26', '99', '74', '2', '55', '40',
       '93', '42', '65', '82', '68', '118', '6', '20', '1', '51', '84',
       '13', '81', '16', '75', '3', '66', '146', '64', '80', '94', '54',
       '127', '38', '41', '27', '132', '212', '18', '23', '85', '112',
       '116', '104', '148', '143', '109', '106', '192', '102', '150',
       '268', '12', '128', '89', '158', '125', '135', '103', '122', '209',
       '169', '110', '100', '149', '154', '113', '123', '115', '129',
       '140', '137', '144', '142', '179', '147', '96', '167', '141',
       '162', '180', '124', '178', '218', '139', '186', '131', '138',
       '203', '207', '284', '176', '216', '190', '187', '214', '202',
       '155', '195', '168', '215', '196', '194', '165', '177', '182',
       '163', '153', '157', '156', '193', '175', '145', '166', '120',
       '152', '171', '170', '188', '191', '160', '174', '161', '173',
       '185', '164', '229', '199', '245', '189', '236', '159', '201',
       '172', '183', '197', '181', '184', '204', '206', '210', '211',
       '198'], dtype=object)

In [10]:
data['city,region'].unique()

<StringArray>
[       ' Punta Cana, Dominican Republic',
         ' La Romana, Dominican Republic',
                 ' Mayagüez, Puerto Rico',
                ' Aguadilla, Puerto Rico',
 ' Charlotte Amalie, U.S. Virgin Islands',
      ' Boca de Yuma, Dominican Republic',
         ' Cruz Bay, U.S. Virgin Islands',
              ' San Antonio, Puerto Rico',
                 ' La Luisa, Puerto Rico',
                 ' Emajagua, Puerto Rico',
 ...
                        ' Kotdefè, Haiti',
                  ' Sitionuevo, Colombia',
                 ' San José, Puerto Rico',
     ' Villa Vásquez, Dominican Republic',
   ' Padre Las Casas, Dominican Republic',
                   ' Manatí, Puerto Rico',
                    ' Bonanza, Nicaragua',
  ' Río Verde Arriba, Dominican Republic',
                  ' Calibishie, Dominica',
             ' Puerto Cabello, Venezuela']
Length: 427, dtype: string

In [11]:
split_comma = data['city,region'].str.split(', ', n=1, expand=True)
data['city'] = split_comma[0]
data['country'] = split_comma[1]

In [12]:
data['country'].unique()

<StringArray>
[                'Dominican Republic',                        'Puerto Rico',
                'U.S. Virgin Islands',                                 <NA>,
                              'Haiti',                           'Colombia',
                           'Dominica',                           'Anguilla',
                          'Venezuela',                'Antigua and Barbuda',
                            'Bahamas',                         'Martinique',
                            'Jamaica',                           'Honduras',
 'Bonaire, Saint Eustatius and Saba ',                          'Nicaragua',
                         'Costa Rica',                               'Cuba',
                         'Guadeloupe',                'Trinidad and Tobago',
              'Saint Kitts and Nevis',                     'Cayman Islands',
                            'Grenada',                         'Montserrat',
   'Saint Vincent and the Grenadines',                           'Barbados',
                        'Saint Lucia']
Length: 27, dtype: string

In [13]:
data['city'].unique()

<StringArray>
[      ' Punta Cana',        ' La Romana',         ' Mayagüez',
        ' Aguadilla', ' Charlotte Amalie',     ' Boca de Yuma',
         ' Cruz Bay',      ' San Antonio',         ' La Luisa',
         ' Emajagua',
 ...
          ' Kotdefè',       ' Sitionuevo',         ' San José',
    ' Villa Vásquez',  ' Padre Las Casas',           ' Manatí',
          ' Bonanza', ' Río Verde Arriba',       ' Calibishie',
   ' Puerto Cabello']
Length: 424, dtype: string

In [14]:
data.head(6)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,depthError,magError,magNst,status,locationSource,magSource,"city,region",dist_se,city,country
0,2019-01-01 21:47:43.580000+00:00,18.4648,-68.4693,116.0,2.94,md,5.0,182.0,0.1007,0.50,...,3.55,0.48,4.0,reviewed,pr,pr,"Punta Cana, Dominican Republic",14,Punta Cana,Dominican Republic
1,2019-01-01 19:55:32.190000+00:00,18.4561,-68.8325,118.0,3.38,md,5.0,204.0,0.4548,0.17,...,1.50,0.18,3.0,reviewed,pr,pr,"La Romana, Dominican Republic",15,La Romana,Dominican Republic
2,2019-01-01 18:42:28.690000+00:00,18.3798,-68.0563,87.0,2.57,md,7.0,177.0,0.3517,0.42,...,2.78,0.36,6.0,reviewed,pr,pr,"Punta Cana, Dominican Republic",43,Punta Cana,Dominican Republic
3,2019-01-01 11:22:00.110000+00:00,18.2185,-67.0878,77.0,2.50,md,11.0,169.0,0.0428,0.08,...,0.64,0.47,9.0,reviewed,pr,pr,"Mayagüez, Puerto Rico",5,Mayagüez,Puerto Rico
4,2019-01-01 07:02:44.730000+00:00,18.7066,-67.5186,10.0,2.87,md,18.0,190.0,0.3246,0.38,...,1.06,0.42,15.0,reviewed,pr,pr,"Aguadilla, Puerto Rico",49,Aguadilla,Puerto Rico
5,2019-01-01 03:47:49.850000+00:00,19.5440,-65.0353,50.0,3.32,md,10.0,335.0,1.6208,0.27,...,17.81,0.23,8.0,reviewed,pr,pr,"Charlotte Amalie, U.S. Virgin Islands",133,Charlotte Amalie,U.S. Virgin Islands

In [15]:
data.dtypes

time               datetime64[ns, UTC]
latitude                       float64
longitude                      float64
depth                          float64
mag                            float64
magType                         string
nst                            float64
gap                            float64
dmin                           float64
rms                            float64
net                             string
id                              string
updated            datetime64[ns, UTC]
place                           string
type                            string
horizontalError                float64
depthError                     float64
magError                       float64
magNst                         float64
status                          string
locationSource                  string
magSource                       string
city,region                     string
dist_se                         object
city                            string
country                         string
dtype: object

In [16]:
# convert to string first
data['dist_se'] = data['dist_se'].astype('string')
# then convert all to float (NA --> nan)
data.dist_se = data.dist_se.astype(float)

In [17]:
data['dist_se']

0         14.0
1         15.0
2         43.0
3          5.0
4         49.0
         ...
19183    100.0
19184     27.0
19185    111.0
19186     50.0
19187     77.0
Name: dist_se, Length: 19188, dtype: float64

In [18]:
data.tail(6)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,depthError,magError,magNst,status,locationSource,magSource,"city,region",dist_se,city,country
19182,2009-01-01 11:24:04.340000+00:00,18.588,-66.771,6.0,2.6,md,7.0,223.2,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Carrizales, Puerto Rico",11.0,Carrizales,Puerto Rico
19183,2009-01-01 09:06:14.330000+00:00,19.333,-65.796,56.6,3.4,md,4.0,315.8,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Suárez, Puerto Rico",100.0,Suárez,Puerto Rico
19184,2009-01-01 08:24:13.300000+00:00,18.586,-64.922,18.0,3.0,md,4.0,240.0,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Charlotte Amalie, U.S. Virgin Islands",27.0,Charlotte Amalie,U.S. Virgin Islands
19185,2009-01-01 08:22:18.780000+00:00,19.425,-65.680,61.6,3.2,md,4.0,345.7,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Suárez, Puerto Rico",111.0,Suárez,Puerto Rico
19186,2009-01-01 05:59:51.310000+00:00,18.540,-64.372,44.9,3.1,md,4.0,217.2,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Cruz Bay, U.S. Virgin Islands",50.0,Cruz Bay,U.S. Virgin Islands
19187,2009-01-01 05:37:27.920000+00:00,19.040,-64.972,27.0,3.2,md,5.0,303.5,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Charlotte Amalie, U.S. Virgin Islands",77.0,Charlotte Amalie,U.S. Virgin Islands

In [19]:
data['city'] = data['city'].str.lstrip()

In [20]:
data['city'].unique()

<StringArray>
[      'Punta Cana',        'La Romana',         'Mayagüez',
        'Aguadilla', 'Charlotte Amalie',     'Boca de Yuma',
         'Cruz Bay',      'San Antonio',         'La Luisa',
         'Emajagua',
 ...
          'Kotdefè',       'Sitionuevo',         'San José',
    'Villa Vásquez',  'Padre Las Casas',           'Manatí',
          'Bonanza', 'Río Verde Arriba',       'Calibishie',
   'Puerto Cabello']
Length: 424, dtype: string

In [21]:
data.tail(20)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,depthError,magError,magNst,status,locationSource,magSource,"city,region",dist_se,city,country
19168,2009-01-05 13:18:59.320000+00:00,19.141,-66.196,64.6,3.4,md,10.0,287.9,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"San Juan, Puerto Rico",75.0,San Juan,Puerto Rico
19169,2009-01-05 11:45:49.840000+00:00,19.525,-66.261,65.9,3.5,md,6.0,306.6,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Brenas, Puerto Rico",117.0,Brenas,Puerto Rico
19170,2009-01-05 11:09:26.380000+00:00,18.299,-66.501,75.3,2.9,md,6.0,171.3,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Ciales, Puerto Rico",5.0,Ciales,Puerto Rico
19171,2009-01-04 20:27:19.560000+00:00,19.139,-67.763,5.7,3.2,md,7.0,217.8,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Punta Cana, Dominican Republic",91.0,Punta Cana,Dominican Republic
19172,2009-01-02 22:10:39.680000+00:00,17.818,-66.815,19.9,2.5,md,9.0,226.9,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Maria Antonia, Puerto Rico",19.0,Maria Antonia,Puerto Rico
19173,2009-01-02 14:53:35.850000+00:00,18.984,-65.082,25.0,3.0,md,4.0,303.6,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Charlotte Amalie, U.S. Virgin Islands",72.0,Charlotte Amalie,U.S. Virgin Islands
19174,2009-01-02 10:58:13.130000+00:00,18.762,-65.416,16.5,2.6,md,6.0,253.6,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Culebra, Puerto Rico",52.0,Culebra,Puerto Rico
19175,2009-01-02 08:14:36.800000+00:00,19.471,-66.344,10.0,3.1,md,6.0,283.5,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Brenas, Puerto Rico",111.0,Brenas,Puerto Rico
19176,2009-01-02 07:37:35.030000+00:00,18.690,-64.963,8.1,2.7,md,6.0,245.5,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Charlotte Amalie, U.S. Virgin Islands",38.0,Charlotte Amalie,U.S. Virgin Islands
19177,2009-01-02 07:03:03.670000+00:00,19.237,-66.640,45.1,2.9,md,4.0,297.7,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Arecibo, Puerto Rico",85.0,Arecibo,Puerto Rico
19178,2009-01-02 05:51:11.240000+00:00,18.688,-64.974,8.0,2.8,md,5.0,251.5,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Charlotte Amalie, U.S. Virgin Islands",38.0,Charlotte Amalie,U.S. Virgin Islands
19179,2009-01-02 03:14:02.990000+00:00,18.024,-68.046,87.1,3.1,md,8.0,210.2,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Boca de Yuma, Dominican Republic",71.0,Boca de Yuma,Dominican Republic
19180,2009-01-01 18:32:26.400000+00:00,19.154,-64.190,39.6,3.1,md,4.0,330.4,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Cruz Bay, U.S. Virgin Islands",111.0,Cruz Bay,U.S. Virgin Islands
19181,2009-01-01 12:53:01.690000+00:00,18.577,-67.339,19.0,2.5,md,5.0,313.4,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Aguadilla, Puerto Rico",25.0,Aguadilla,Puerto Rico
19182,2009-01-01 11:24:04.340000+00:00,18.588,-66.771,6.0,2.6,md,7.0,223.2,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Carrizales, Puerto Rico",11.0,Carrizales,Puerto Rico
19183,2009-01-01 09:06:14.330000+00:00,19.333,-65.796,56.6,3.4,md,4.0,315.8,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Suárez, Puerto Rico",100.0,Suárez,Puerto Rico
19184,2009-01-01 08:24:13.300000+00:00,18.586,-64.922,18.0,3.0,md,4.0,240.0,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Charlotte Amalie, U.S. Virgin Islands",27.0,Charlotte Amalie,U.S. Virgin Islands
19185,2009-01-01 08:22:18.780000+00:00,19.425,-65.680,61.6,3.2,md,4.0,345.7,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Suárez, Puerto Rico",111.0,Suárez,Puerto Rico
19186,2009-01-01 05:59:51.310000+00:00,18.540,-64.372,44.9,3.1,md,4.0,217.2,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Cruz Bay, U.S. Virgin Islands",50.0,Cruz Bay,U.S. Virgin Islands
19187,2009-01-01 05:37:27.920000+00:00,19.040,-64.972,27.0,3.2,md,5.0,303.5,NaN,NaN,...,NaN,NaN,NaN,reviewed,rspr,rspr,"Charlotte Amalie, U.S. Virgin Islands",77.0,Charlotte Amalie,U.S. Virgin Islands

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19188 entries, 0 to 19187
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             19188 non-null  datetime64[ns, UTC]
 1   latitude         19188 non-null  float64
 2   longitude        19188 non-null  float64
 3   depth            19188 non-null  float64
 4   mag              19188 non-null  float64
 5   magType          19188 non-null  string
 6   nst              18573 non-null  float64
 7   gap              19157 non-null  float64
 8   dmin             12676 non-null  float64
 9   rms              13019 non-null  float64
 10  net              19188 non-null  string
 11  id               19188 non-null  string
 12  updated          19188 non-null  datetime64[ns, UTC]
 13  place            19188 non-null  string
 14  type             19188 non-null  string
 15  horizontalError  12581 non-null  float64
 16  depthError       12827 non-null  float64
 17  magError         12589 non-null  float64
 18  magNst           12941 non-null  float64
 19  status           19188 non-null  string
 20  locationSource   19188 non-null  string
 21  magSource        19188 non-null  string
 22  city,region      18625 non-null  string
 23  dist_se          18623 non-null  float64
 24  city             18625 non-null  string
 25  country          18623 non-null  string
dtypes: datetime64[ns, UTC](2), float64(13), string(11)
memory usage: 3.8 MB

In [23]:
data['id'].unique()

<StringArray>
['pr2019001007', 'pr2019001006', 'pr2019001005', 'pr2019001002',
 'pr2019001000', 'pr2019001001', 'pr2018365018', 'pr2018365015',
 'pr2018365012', 'pr2018365011',
 ...
   'usp000gs02',   'usp000grzw',   'usp000grzg',   'usp000grzb',
   'usp000grz6',   'usp000grz0',   'usp000gryy',   'usp000gryx',
   'usp000gryt',   'usp000gryq']
Length: 19188, dtype: string

In [24]:
# moment magnitudes
options = [ 'mww','mw', 'mwr', 'mwb','mwc']

mom_mag = data.loc[data['magType'].isin(options)]

In [25]:
data.columns

Index(['time', 'latitude', 'longitude', 'depth', 'mag', 'magType', 'nst',
       'gap', 'dmin', 'rms', 'net', 'id', 'updated', 'place', 'type',
       'horizontalError', 'depthError', 'magError', 'magNst', 'status',
       'locationSource', 'magSource', 'city,region', 'dist_se', 'city',
       'country'],
      dtype='object')

In [26]:
data['magNst'].unique()

array([  4.,   3.,   6.,   9.,  15.,   8.,  10.,   5.,  14.,   7.,  13.,
        19.,  12.,  22.,  11.,  18.,  64.,   2.,  17.,  26.,  25.,  37.,
        21., 130.,  16.,  42., 140., 145., 147.,  30.,  24., 311.,  29.,
        47., 155.,  41.,  36.,  20.,  34., 192.,  33.,  32., 126.,  61.,
       774.,  44., 213.,  50., 135.,  93.,  23.,   1., 166.,  88.,  84.,
        28., 186.,  27.,  53.,  57.,  97.,  69., 488.,  68., 425.,  nan,
        45., 228.,  51.,  58., 162.,  66.,  95., 105., 121., 107.,  79.,
        54.,  63., 137.,  85.,  46., 122.,  31., 185.,  40.,  38., 345.,
       276.,  62.,  67., 219.,  71., 112., 197.,  43., 227.,  52.,  39.,
       616.,  49.,  35., 235.,   0., 437., 149.,  65., 158., 104., 243.,
        78.,  82., 181., 187., 204., 116., 127.,  48., 346.,  90.,  81.,
        59., 175., 549., 174., 157.,  94.,  70.,  80.,  73., 159., 316.,
       143., 183.,  91., 247., 180., 381.,  89.,  86.,  55., 298., 194.,
       114., 146.,  99., 299., 255., 209., 111., 207., 216., 129.,  72.,
       113., 131., 125.,  98.,  87., 152.,  75.,  74.,  77.,  76.,  92.,
       128., 123., 151.,  56., 177.])

In [27]:
data['depth']

0        116.0
1        118.0
2         87.0
3         77.0
4         10.0
         ...
19183     56.6
19184     18.0
19185     61.6
19186     44.9
19187     27.0
Name: depth, Length: 19188, dtype: float64

In [28]:
# save new dataframe as .csv

data.to_csv('mod_eq_data.csv')